<% if @posts.size > 0 %>
	<h4>Thanks for sharing your Knowledge. You are Awesome :)</h4>
<% else %>
	<div class="row col-lg-12">
		<div class="alert alert-info quirkymsg" role="alert"><strong>You don't have any posts yet.<br>Start sharing your knowledge because i know you are awesome :)</strong></div>
	</div>	
<% end %>



	<% @posts.each do |post| %>
		
		<div class="box">
            <div class="panel panel-default">
			
			<div class="panel-body">
			 <h4><%= link_to post.title, post %></h4><br>
					
				Posted by:
				<%= post.user.username %>
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
				
				<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				

			
			  </div>
            </div>
        </div>	
		
	<% end %>
	


