<% if user_signed_in? %>
 <%= current_user.username %>
<% else %>
<%= render("layouts/jumbotron") %>

<% end %>



	<% @posts.each do |post| %>
		 <h4><%= link_to post.title, post %></h4>
		 	<%= post.user.username %>	 
	<% end %>