

<div class="jumbotron">
	<div class="row">
	    	
		        <h2 align="center"><strong>Share your Knowledge with the world.</strong></h2><br>
				<div class="row">
					<div class="col-md-4" align="center">
						<p><strong>Create Posts</strong></p>
						<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. </p>
		        	</div>

					<div class="col-md-4" align="center">
						<p><strong>Share your Knowledge</strong></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
		        	</div>

					<div class="col-md-4" align="center">
						<p><strong>Follow people</strong></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. </p>
		        	</div>
		        </div><br>
                 <div align="center">
                 		<%= link_to("Login", new_user_session_path, 
               	  		class: "btn btn-lg jumbobtn") %>
               	  		<%= link_to("Sign Up", new_user_registration_path, 
               	  		class: "btn btn-lg jumbobtn") %>
                 </div>
		       
	    </div>
</div>	    


