<style> 

  .header-cover {
    background: url("/bg4.jpg");
    background-repeat: no-repeat;
    background-position: center;
     
  }

  .overlay {
  	background-color: Black;
    opacity: 0.4;
    width: 100%;
    height: 600px;
    position: absolute;
  }

</style>

<div class="overlay"></div>
<div class="header-cover">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" style="margin-top: 50px;">
			<h1 align="center">Moving with Geology. </h1>
		    <p align="center" class="heading-cover">WikiGeo BETA is a community of readers and writers offering unique perspectives on ideas large and small.</p><br>
			<p align="center">Sign up to read and interact with what matters most to you.</p>
		     <div align="center">
		     		<%= link_to("Login", new_user_session_path, 
		   	  		class: "btn btn-lg jumbobtn") %>
		   	  		<%= link_to("Sign Up", new_user_registration_path, 
		   	  		class: "btn btn-lg jumbobtn") %>
		     </div>
	     </div>
	     <div class="col-md-2"></div>
	</div>	    
</div>

